@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container col-md-6">
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">@Model.StatusCode</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Something went wrong!</p>
            <p class="lead">
                @Model.Message
            </p>
            <a class="btn btn-primary" asp-controller="User" asp-action="Index">Go Home</a>
        </div>
    </div>
</div>
